@import url("../font/lato.css");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#note {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 8px 15px;
  border-color: #fff;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}
#note.show {
  width: 400px;
  height: 600px;
  right: 20px;
  bottom: 10px;
  overflow-y: scroll;
}
#note.show .close {
  content: "X";
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 101;
}
#note:active {
  transform: scale(0.98);
}
#note code {
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
#note blockquote {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: #f8f8f8;
  border-color: #42b983;
}

@media (max-width: 375px) {
  #note.show {
    right: 10px;
    width: calc(100% - 20px);
  }
}

h2 {
  position: absolute;
  top: 10px;
}

.range-container {
  position: relative;
}

input[type="range"] {
  width: 300px;
  margin: 18px 0;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"] + label {
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 110px;
  width: 80px;
  padding: 5px 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* chrome & safari */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: purple;
  border-radius: 4px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type="range"]::-webkit-range-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background-color: purple;
  border-radius: 4px;
  width: 100%;
  height: 13px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
  cursor: pointer;
}

/* IE */
input[type="range"]::-ms-track {
  background-color: purple;
  border-radius: 4px;
  width: 100%;
  height: 13px;
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
  cursor: pointer;
}
