@import url(../font/muli.css);
* {
  box-sizing: border-box;
}

body {
  background-color: #2b88f0;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#note {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 8px 15px;
  border: 1px solid;
  border-color: #000;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}
#note h3 {
  color: #000;
  text-align: left;
}
#note.show {
  width: 400px;
  height: 600px;
  right: 20px;
  bottom: 10px;
  overflow-y: scroll;
}
#note.show .close {
  content: "X";
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 101;
}
#note:active {
  transform: scale(0.98);
}
#note code {
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
#note blockquote {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: #f8f8f8;
  border-color: #42b983;
}

@media (max-width: 375px) {
  #note.show {
    right: 10px;
    width: calc(100% - 20px);
  }
}

h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  width: 500px;
}

textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

textarea:focus {
  outline: none;
}

.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #273c75;
}
